<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Hello!</h1>
      <p class="secret-text">Welcome to Auth page.</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

  <%- include('partials/footer') %>