{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended", 
    "plugin:react-redux/recommended",
    "eslint-config-prettier"
  ],
  "languageOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module", 
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "react-refresh"
  ],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ],
    "react/jsx-uses-react": "off", // disables the rule that checks whether 'React' is in scope when using JSX
    "react/react-in-jsx-scope": "off", // ditto, dont need to manually import React in every component file 
    "no-unused-vars": ["error"], // disallow unused variables,
    "eqeqeq": ["error"], // require the use of === and !==, 
    "curly": ["error"], // enforce consistent brace style for all control statements
    "camelcase": ["error"], // enforce camelcase naming convention
    "no-trailing-spaces": ["error"], // disallow trailing whitespace at the end of lines
    "no-commonjs": "error" // disallow CommonJS `require` and `module.exports`
  } 

}